body {
    background-color: black;
    place-items: center;
    display:grid;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.react {
    background-image: url('../assets/REACT.svg');
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 15px;
    transition: 0.2s linear;
    background-color: rgba(245, 222, 179, 0);

}

.react:hover {
    background-image: url('../assets/REACT.svg');
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-color: rgba(188, 190, 190, 0.548);
    border: none;
    border-radius: 5px;
    background-position: center;

}

.profile{
    display:grid;
    padding: 5px;
    
    width: auto;
    margin: 1px;
    height: auto;
    text-align: center;
    vertical-align: center;
    align-items: center;
    align-items: flex-start;
}

.divide{
    background-color: black;
    height:1px;
    width: 250px;
}

.logo  {
    background-image: url('../assets/book.svg');
    height: 70px;
    width: 70px;
}

.message{
    padding:20px;
    border: 1px black solid;
    border-radius: 5px;
    font-size: larger;
    text-align: left;

}

.pfp {
    height: 50px;
    width: 50px;
    background-image: url(../assets/user-default-pfp.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 50%;
    padding: 1px;
    border: black 1px solid;
    transition: 0.2s linear;
}


.pfp:hover {
    height: 51px;
    width: 51px;
    background-image: url(../assets/user-default-pfp.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 50%;
    padding: 1px;
    background-color: rgba(65, 65, 65, 0.103);
    border: rgb(65, 64, 64) 1px solid;

}

.person{
    
    display: flex;
    gap: 10px;

}

.timetable {
    background-color: white;    
    margin-bottom: 1px;
    border-radius: 5px;
    margin: 1px auto;
    border: 1px solid black;
    display: block;
    padding: 10px;
    height: auto;
    align-items: center;
    place-items: center;
    text-align: center;
}

.time{
    width: 20%;
}

.break{
    background-color: rgba(0, 0, 0, 0.493);
    color: white;
}

td {
    padding: 10px;
}

.timetable-element {
    width: auto;
}

.post {
    display: grid;
    border: solid, black, 1px;
    margin: 10px auto;
    padding: 10px;
    width: 85vw;
    height: 50%;

}
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.support-page{
    color: black;
}

.card {
    color: white;
    padding: 10px;
    background-color: black;
    border: solid, rgba(0, 0, 0, 0), 0px;
    border-radius: 5px;
    margin-top: 1px;
    width: 50%;
    border-radius: 25px;
    align-items: center;
    text-align: center;
    cursor: pointer;
    height: 500px;
    transition: linear 0.2s;
}

.card:hover {
    color: white;
    padding: 10px;
    background-color: black;
    border: solid, rgba(0, 0, 0, 0), 0px;
    border-radius: 10px;
    margin-top: 1px;
    width: 100%;
    align-items: center;
    text-align: center;
    cursor: pointer;
    height: 500px;
}

.pricing {
    display: flex;
    gap: 10px;
    height: 100%;
}

header {
    display: flex;
    color: white;
    vertical-align: middle;
}

table {
    display: flex;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    align-items: center;
    place-items: center;
    overflow: scroll;
}


th{
    font-size: larger;
    background-color: black;
    color: white;
    padding-bottom: 10px;
    padding:5px;
}

td {
    font-size: large;
    border: solid, rgb(0, 0, 0), 1px;
    text-align: center;
    padding: 5px;

}

tr {
    border-bottom: solid, rgb(255, 0, 0), 4px;
}

.category {
    margin: 5px;
}

.Company-name {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section {
    display:grid;
    padding: 20px;
    padding-bottom: 100px;
    background-color: rgba(240, 248, 255, 0.75);
    gap: 5px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

form{
    padding: 5px;
    margin: 5px;
}

.actions{
    padding-bottom: 20px;
    padding-top: 10px;
}

.forgot-password {
    color: black;
}

.forgot-password:hover {
    color: rgba(0, 0, 0, 0.493);
}

.homepage {
    color: black;
}

.btn {
    color: white;
    padding: 10px;
    background-color: black;
    border: solid, rgba(0, 0, 0, 0), 1px;
    border-radius: 5px;
    margin: 10px;
    width: 200px;
    cursor: pointer;
    margin: 5px;
    transition: 0.2s linear;
}

.btn:hover {
    color: black;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: solid, rgba(0, 0, 0, 1), 1px;
    border-radius: 5px;
    margin: 10px;
    width: 200px;
    cursor: pointer;
    margin: 5px;
}

.Top {
    margin: 2px auto;
    background-color: black;
    height: 150px;
    width: auto;
    color: white;
    border-radius: 10px;
    transition: 0.2s linear;
    text-align: center;
    align-items: center;
    vertical-align: center;
}

.Top:hover {
    margin: 2px auto;
    background-color: black;
    height: 170px;
    width: auto;
    color: white;
    text-align: center;
    align-items: center;
    vertical-align: center;
    place-items: center;
}

.btn-white {
    color: black;
    padding: 10px;
    background-color: white;
    border: solid, rgba(0, 0, 0, 0), 1px;
    border-radius: 5px;
    margin-top: 1px;
    width: 200px;
    cursor: pointer;
    transition: 0.2s linear;
}

.btn-white:hover {
    color: rgb(255, 255, 255);
    padding: 10px;
    background-color: rgb(0, 0, 0);
    border: solid, rgb(255, 255, 255), 1px;
    border-radius: 5px;
    margin-top: 1px;
    width: 200px;
    cursor: pointer;
}

.create_post {
    display: flex;
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
}


.container{
    background:#fff;
    width:500px;
    height: 600px;
    padding:0.2rem;
    margin:50px auto;
    border-radius:10px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.2s linear;
}


.container-lg{
    background:#fff;
    width:95vw;
    height: 70vh;
    padding:0.5rem;
    margin:50px auto;
    border-radius:10px;
    align-items: center;
    text-align: center;
}

.container-l{
    background:#fff;
    width:95vw;
    height: 10vh;
    padding:0.5rem;
    margin:50px auto;
    border-radius:10px;
    
    align-items: center;
    text-align: center;
}

.container-header{
    background:#fff;
    width:95vw;
    height: 100px;
    padding:0.5rem;
    margin:5px auto;
    border-radius:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color:black;
}

.container-list{
    width:95vw;
    background-color: white;
    gap: 5px;
    padding:0.2rem;
    margin:50px auto;
    padding-bottom: 100px;
    border-radius:10px;
    align-items: center;
    justify-content: center;
}

input{
    color:inherit;
    width:80%;
    background-color:transparent;
    border: 1px solid black;
    border-radius: 5px;
    padding:7px;
    font-size:15px;
    transition: 0.3s linear;
}

input:hover{
    color:inherit;
    width:80%;
    background-color:transparent;
    border: 2px solid rgba(0, 0, 0, 0.719);
    border-radius: 5px;
    padding:7px;
    font-size:15px;
}
.input-group{
    display: flex;
    gap: 10px;
    place-items: center;
    padding:1% 0;
    position:relative;
    justify-content: center;
    align-items: center;

}
.input-group i{
    color:black;
}

.global_posts{
    background-color: white;    
    margin-bottom: 5px;
    border-radius: 5px;
    margin: 1px auto;
    border: 1px solid black;
    display: grid;
    width: auto;
    overflow: auto;
}

.teacher-table {
    background-color: white;    
    margin-bottom: 5px;
    border-radius: 5px;
    margin: 1px auto;
    border: 1px solid black;
    display: grid;
    width: auto;
    overflow: auto;
}

.student-table {
    background-color: white;    
    margin-bottom: 5px;
    border-radius: 5px;
    margin: 1px auto;
    border: 1px solid black;
    display: grid;
    width: auto;
    overflow: auto;
}


@keyframes background-animation {

}